/* Estilo para o conteúdo da página */
ion-content {
  --background: linear-gradient(to bottom right, #ffffff, #c4c4c4);
  padding: 16px;
}

ion-item {
  --background: #fff; /* Cor de fundo */
  --border-radius: 10px; /* Bordas arredondadas */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 16px; /* Espaçamento inferior */
}

ion-label {
  color: #333; /* Cor do texto */
}

ion-input, ion-select {
  font-family: 'Arial', sans-serif; /* Fonte */
}

ion-button {
  --background: #3880ff; /* Cor de fundo do botão */
  --color: #fff; /* Cor do texto do botão */
  --border-radius: 10px; /* Bordas arredondadas */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 20px; /* Espaçamento superior */
  font-family: 'Arial', sans-serif; /* Fonte */
}

ion-button:hover {
  --background: #4c8dff; /* Cor de fundo do botão ao passar o mouse */
}
