<ion-content [fullscreen]="true">
  <ion-list class="config-list">
    <ion-item button class="config-item" (click)="contato()">
      <ion-icon slot="start" name="person-outline" class="config-icon"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="config-list">
    <ion-item button class="config-item" (click)="deslogar()">
      <ion-icon slot="start" name="exit-outline" class="config-icon"></ion-icon>
      <ion-label>Deslogar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
