

<ion-content class="custom-background">
  <ion-card class="custom-card">
    <ion-card-content class="ion-text-center">
      <ion-button shape="round" class="custom-button" class="rounded" (click)="loginUsuario()">
        <ion-icon name="person" slot="start"></ion-icon>Usuário</ion-button>
      <ion-button shape="round" class="custom-button" class="rounded" (click)="loginFuncionario()">
        <ion-icon name="briefcase" slot="start"></ion-icon>Funcionário</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


