<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="agendamentos && agendamentos.length > 0; else noAgendamentos">
    <ion-list>
      <ion-item *ngFor="let agendamento of agendamentos">
        <ion-label>
          <h2>Data: {{ agendamento.date }}</h2>
          <p>Hora: {{ agendamento.time }}</p>
          <p>Placa: {{ agendamento.vehicle.placa }}</p>
          <p>Serviço: {{ agendamento.service }}</p>
          <p>Observação: {{ agendamento.observation }}</p>
          <p>Status: {{ agendamento.status }}</p>
          <!-- Adicione outras informações do agendamento aqui -->
        </ion-label>
        <ion-select [(ngModel)]="agendamento.status" (ionChange)="alterarStatus(agendamento.id, agendamento.status)">
          <ion-select-option value="Agendado">Agendado</ion-select-option>
          <ion-select-option value="Em andamento">Em andamento</ion-select-option>
          <ion-select-option value="Cancelado">Cancelado</ion-select-option>
          <ion-select-option value="Finalizado">Finalizado</ion-select-option>
        </ion-select>        
      </ion-item>
    </ion-list>
  </ng-container>
  
  <ng-template #noAgendamentos>
    <ion-card >
      <ion-card-header>
        <ion-card-title>Sem Agendamentos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Não há agendamentos no momento.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
