<ion-content class="custom-background">
  <ion-card>
    <h3>Login</h3>
    <form [formGroup]="logar" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <!--Mensagens de Erro-->
      <span *ngIf="logar.get('email')?.touched &&
      logar.get('email')?.errors?.['required']">Email é obrigatório</span>
      <span  *ngIf="logar.get('email')?.dirty &&
      logar.get('email')?.errors?.['email']">Formato de Email Inválido</span>
      <!--Mensagens de Erro-->
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
            <!--Mensagens de Erro-->
            <span *ngIf="logar.get('senha')?.touched &&
            logar.get('senha')?.errors?.['required']">Senha é obrigatória</span>
            <span  *ngIf="logar.get('senha')?.dirty &&
            logar.get('senha')?.errors?.['minlength']">A senha é de no mínimo 6 caracteres</span>
            <!--Mensagens de Erro-->
      <ion-button shape="round" expand="full" color="success" type="submit" class="rounded">Entrar</ion-button>
      <ion-button shape="round" expand="full" color="danger" (click)="logarComGmail()" class="rounded">
        Entrar com Google <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
    </form>
    <a (click)="irParaRegistrar()">Não tem cadastro? Clique Aqui!</a>
  </ion-card>
</ion-content>