<ion-content class="ion-padding" style="--ion-background-color: transparent;">
  <ion-list>
    <ion-item button class="premium-item" (click)="consultarCliente()">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label>Consultar Cliente</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item button class="premium-item" (click)="solicitacaoServico()">
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-label>Solicitações de Serviço</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item button class="premium-item" (click)="solicitacaoVeiculo()">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>Solicitações de leva e Traz</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item button class="premium-item" (click)="irParaConfiguracao()">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
