ion-header {
    ion-toolbar {
      --background: #e7bf0c; 
      --color: #ffffff; 
      border-bottom-left-radius: 5px; /* Arredonda a borda inferior esquerda */
      border-bottom-right-radius: 5px; /* Arredonda a borda inferior direita */
    }
  } 
  ion-footer {
    ion-toolbar {
      --background: #e7bf0c; 
      --color: #ffffff; 
      border-top-left-radius: 5px; /* Arredonda a borda superior esquerda */
      border-top-right-radius: 5px; /* Arredonda a borda superior direita */
    }
  } 

  
  
  
  
  
  
  